.sideMenu {
    display: block;
    overflow: hidden;
    width: 200px;
    background-color: #000;
    color: #fff;
    transition: all 0.5s ease;
    border-radius: 20px;
    padding: 10px;
    box-sizing: border-box;
    opacity: 0.5;
    position: absolute; top:10%; right: 1%;
}
.sideMenu:hover{
	opacity: 1;
}
.sideMenu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sideMenu a, .sideMenu > label {
    display: block;
    height: 35px;
    padding: 8px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}

.sideMenu a:hover {
    color: #000;
}
.sideMenu ul li:hover, .sideMenu > label:hover {
    background-color: #fff;
    color: #000;
    border-radius: 10px;
}
.sideMenu div {
    position: absolute;
    left: 50px;
    line-height: 1.5;
    font-size: 1em;
    font-family: 'Noto Sans KR';
    padding: 0 0 0 20px;
}

#expand-menu {
    display: none;
}
#expand-menu:checked ~ ul {
    display: block;
    height: auto;
}

.sideMenu ::before {
    font-family: 'Material Icons';
    font-size: 1.5em;
    float: left;
    clear: left;
}
.sideMenu label::before{ content: '\e5d2'; }
.sideMenu li:nth-child(1) a::before{ content: '\f02e'; }
.sideMenu li:nth-child(2) a::before{ content: '\e8d6'; }
.sideMenu li:nth-child(3) a::before{ content: '\e88a'; }
.sideMenu li:nth-child(4) a::before{ content: '\e8cc'; }
.sideMenu li:nth-child(5) a::before{ content: '\e87d'; }
.sideMenu li:nth-child(6) a::before{ content: '\e8b8'; }

@media screen and (max-width:1023px) {
    .sideMenu {
        width: 60px;
        position: absolute; top:5%; left: 5%;
    }
}
@media screen and (max-width:560px) {
    .sideMenu #expand-menu:not(:checked) ~ ul {
        display: none;
    }
}