@import
	url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

#header {
	width: 100%;
	height: 83px;
	padding: 0px 115px 0px 115px;
	z-index: 10;
	position: relative;
}

a {
	text-decoration: none;
	color: black;
}

a:active {
	text-decoration: none;
	
}

a:hover {
	text-decoration: none;
	
}

a:checked {
	text-decoration: none;
}

.logo {
	width:145px;
	height:83px;
	margin-right:10px;
	float: left;
}
.logo-text{
	font-size: 50px;
	color: black;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
}

.menu {
	font-size: 17px;
	line-height: 83px;
	width:650px;
	height:83px;
	float:left;
	text-align: center;

}
.menu.clearfix{ <!--클래스를 두개둬서그런가 적용이 안되는데 여기다가 마진레프트 두니까 되서 일단 비워둘게요 -->

}
.menu-list {
	list-style: none;
	text-align: center;

}
.menu-list li {
	float:left;
	margin-right: 50px;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
}

.log {
	width:60px;
	float:right;
	text-decoration: none;
	font-size: 20px;
	line-height: 83px;
	font-weight: bold;
	
}
.clearfix:before, .clearfix:after {
    display: block;
    content: '';
    line-height: 0;
}

.clearfix:after {
    clear:both;
}