@import
	url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap')
	;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}

table {
	margin: auto;
	width: 500px;
	text-align: center;
}

.carListArea {
	right: 0;
	width: 100%;
	min-height: 100vh;
	justify-content: space-between;
	align-items: center;
	background: purple;
	transition: 0.5s;
	margin: auto;
	width: 400px;
	border: 1px solid gray;
	z-index: 100;
}

.div_empty {
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: yellow;
}

.text a:hover {
	letter-spacing: 6px;
}
.banner{
	width:100%;
	height:250px;
	background-repeat: no-repeat;
	background-size:cover;

}

.section-bg-img h2{
	text-align: center;
	line-height: 240px;
	color:#fff;
	font-size: 40px;
}

@media ( max-width : 789px) {
	.showcase, .showcase header {
		padding: 40px;
	}
	.text h2 {
		font-size: 3em;
	}
	.text h3 {
		font-size: 2em;
	}
}